@import './utils/variables';
@import './utils/mixins';

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-width: 320px;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}


main{
    margin-inline: 7%;
    @include mobile{
        margin-inline: 20px;
    }
    @include tablet{
        margin-inline: 15px;
    }
}

h1, h2, h3, h4,h5, h6{
    font-family: "Permanent Marker";
}